@import "../../utils/vars.scss";

.projects__media {
  border: 2px solid $color-tertiary;
  max-width: $mx-1;
  width: 100%;
  height: fit-content;
  display: flex;
  .projects__section {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child {
      border-right: 2px solid $color-tertiary;
      width: 100%;
      .projects__button {
        flex: 1;
        display: flex;
        align-items: center;
        width: 100%;
      }
    }
    &:nth-child(2) {
      flex: 1;
      display: flex;
      flex-direction: column;
      h2 {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid $color-tertiary;
        padding: 20px 0;
      }
      .projects__previewImage {
        overflow: hidden;
        width: 100%;
        position: relative;
        img {
          width: inherit;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: $mx-1) {
  .projects__media {
    flex-direction: column-reverse;
  }
  .projects__section {
    &:first-child {
      border-right: none !important;
    }
  }
  .projects__previewImage {
    display: none;
  }
}
