@import "../../../utils/vars.scss";

.blog {
  margin: 20px;
  // background-color: rgb(156, 141, 0);
  color: $color-primary;
  border: 1px solid $color-primary;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
  .blog__image {
    a {
      width: 100%;
      img {
        width: 100%;
        border-bottom: 1px solid $color-primary;
      }
    }
  }
  .blog__details {
    padding: 10px;
    span {
      font: 400 0.8rem $font-code;
    }
    .h-3 {
      margin-top: 5px;
    }
    .para {
      margin-top: 5px;
      font-size: 0.8rem;
      font-family: $font-primary;
    }
    .blog__tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .tag {
        width: fit-content;
        font: 400 0.6rem $font-code;
        border: 1px dashed $color-primary;
        margin-top: 10px;
        padding: 5px;
        &:not(&:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
