@import "../../utils/vars.scss";

.home {
  display: flex;
  align-items: center;
}

.home__wrapper {
  max-width: 1600px;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  padding: 0 20px;
  color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home__media {
  font-family: $font-tertiary;
  width: 60%;
  height: 65%;
  position: relative;
  .home__text {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      font-family: $font-tertiary;
      font-size: 8rem;
      width: fit-content;
    }
    p:nth-child(2) {
      align-self: flex-end;
    }
  }
  .home__pics {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    img {
      width: inherit;
      height: inherit;
      object-fit: contain;
      position: absolute;
      opacity: 0.6;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.home__left {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(0%) rotate(180deg);
  writing-mode: vertical-rl;
  font-size: 1rem;
  font-family: $font-code;
  text-transform: uppercase;
}

.home__mouse {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  animation: 1s move infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.home__right {
  position: absolute;
  bottom: 0;
  right: 20px;
  transform: translateY(0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    height: 100px;
    width: 1px;
    background-color: $color-primary;
    display: block;
    margin: 10px 0;
  }
}

.home__786 {
  writing-mode: vertical-rl;
  font: 1rem $font-code;
  letter-spacing: 5px;
  color: $color-primary;
  &:hover {
    color: $color-tertiary;
  }
}
