@import "../../utils/vars.scss";

.contact__media {
  max-width: $mx-1-2;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color-primary;
  border: 2px solid $color-tertiary;
  .contact__title {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid $color-tertiary;
  }
  & > a {
    border-top: 2px solid $color-tertiary;
  }
  form {
    width: inherit;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    input,
    a {
      padding: 20px;
      outline: none;
      border: none;
      background-color: transparent;
    }
    .contact__email {
      color: $color-lightgrey;
      flex: 1;
      min-width: 200px;
      width: 100%;
      font-family: $font-primary;
      font-size: 1rem;
    }
    .contact__submit {
      color: $color-lightgrey;
      border-left: 2px solid $color-tertiary;
      font: 600 1rem $font-primary;
      cursor: pointer;
      text-transform: uppercase;
    }
    a {
      border-right: 2px solid $color-tertiary;
    }
    .contact__submit:hover,
    a:hover {
      background-color: $color-tertiary;
      color: $color-secondary;
      i:hover {
        color: unset;
      }
    }
  }
}
