@import "../../utils/vars.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  color: $color-primary;
}

.hide__item {
  display: none;
}

.show__item {
  display: none;
}

.header__nav {
  position: relative;
  max-width: 1600px;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .header__logo {
    display: flex;
    align-items: center;
    a {
      font-family: $font-secondary;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

.header__burger {
  cursor: pointer;
  // height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  i {
    color: $color-primary;
    font-size: 2rem;
    &:hover {
      color: $color-tertiary;
    }
  }
}

.header__links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__link {
    margin: 0 1.5rem;
    font-family: $font-primary;
    font-weight: 500;
    a {
      white-space: nowrap;
    }
  }
}

.header__toggle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 3px;
  border: 2px solid $color-primary;
  box-sizing: content-box;
}

.header__toggle label {
  width: inherit;
  height: inherit;
  border-radius: 100%;
  background-color: $color-tertiary;
  display: block;
  cursor: pointer;
}

.header__toggle input {
  display: none;
  width: inherit;
  height: inherit;
}
