@import "../../utils/vars.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  color: $color-primary;
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  border-top: 2px solid $color-tertiary;
  border-bottom: 2px solid $color-tertiary;
}

.header__nav {
  position: relative;
  max-width: $max-width;
  width: 100%;
  display: flex;
  align-items: center;
  .header__logo {
    flex: 1;
    margin-right: auto;
    display: flex;
    align-items: center;
    a {
      display: block;
      padding: 25px 20px;
      font-family: $font-primary;
      font-size: 1.3rem;
      &:hover {
        background-color: $color-tertiary;
        color: $color-secondary;
      }
      border-left: 2px solid $color-tertiary;
      border-right: 2px solid $color-tertiary;
    }
    .header__burger {
      padding: 25px;
      font-size: 1.3rem;
      font-family: $font-primary;
      i {
        font-size: 1.3rem;
        &:hover {
          color: $color-secondary;
        }
      }
      &:hover {
        background-color: $color-tertiary;
        color: $color-secondary;
      }
      border-right: 2px solid $color-tertiary;
      border-left: 2px solid $color-tertiary;
    }
  }
  .header__links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      padding: 25px 20px;
      font-size: 1.3rem;
      font-family: $font-primary;
      white-space: nowrap;
      margin: 0;
      &:hover {
        background-color: $color-tertiary;
        color: $color-secondary;
      }
      border-right: 2px solid $color-tertiary;
      &:first-child {
        border-left: 2px solid $color-tertiary;
      }
    }
  }
  .header__toggle {
    flex: 1;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    span {
      padding: 25px;
      font-size: 1.3rem;
      font-family: $font-primary;
      i {
        font-size: 1.3rem;
        &:hover {
          color: $color-secondary;
        }
      }
      &:hover {
        background-color: $color-tertiary;
        color: $color-secondary;
      }
      border-right: 2px solid $color-tertiary;
      border-left: 2px solid $color-tertiary;
    }
  }
}
