@import "./vars.scss";

// tags
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $color-primary;
}

a:hover {
  color: $color-tertiary;
}

i {
  font-size: 2rem;
}

// classes
.container {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}
