@import "./vars.scss";

// tags
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $color-tertiary;
  color: $color-secondary;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $color-primary;
}

a:hover {
  color: $color-tertiary;
}

i {
  font-size: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

i {
  font-size: 1.5rem;
  &:hover {
    color: $color-tertiary;
  }
}

p {
  font-family: $font-primary;
  font-weight: 300;
}

button {
  background-color: transparent;
  width: fit-content;
  color: $color-lightgrey;
  border: 2px solid $color-lightgrey;
  border-radius: 500px;
  cursor: pointer;
  outline: none;
  font-family: $font-primary;
  font-weight: 600;
  text-transform: uppercase;
}
button:hover {
  border-color: $color-tertiary;
  color: $color-tertiary;
}

h2,
h3 {
  color: $color-tertiary;
}

h2 {
  font-size: 3rem;
  // font-weight: 400;
  font-family: $font-secondary;
}

h3 {
  // font-weight: 400;
  font-family: $font-secondary;
  font-size: 1.1rem;
}

h4 {
  font-family: $font-secondary;
  // font-weight: 500;
}

img,
span {
  display: block;
}

// classes
.container {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.button_link {
  display: block;
  padding: 0.7rem 3rem;
  margin: 20px 0;
  background-color: transparent;
  width: fit-content;
  color: $color-lightgrey;
  border: 2px solid $color-lightgrey;
  border-radius: 500px;
  cursor: pointer;
  outline: none;
  font: 600 0.8rem $font-primary;
  text-transform: uppercase;
  &:hover {
    border-color: $color-tertiary;
  }
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
  & > a i {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
  }
}

.give-bg {
  background-color: $color-tertiary;
  color: $color-secondary;
}

.component-wrapper {
  max-width: $max-width;
  width: 100%;
  height: calc(100vh - 100px);
  // background-color: blueviolet;
  padding: 0 20px;
  color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.component-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
