@import "./vars.scss";

// tags
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $color-tertiary;
  color: $color-secondary;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $color-primary;
}

a:hover {
  color: $color-tertiary;
}

i {
  font-size: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

i {
  font-size: 1.5rem;
  &:hover {
    color: $color-tertiary;
  }
}

p {
  font-family: $font-primary;
  font-weight: 300;
}

button {
  background-color: transparent;
  width: fit-content;
  color: $color-grey;
  border: 2px solid $color-grey;
  border-radius: 500px;
  cursor: pointer;
  outline: none;
  font-family: $font-secondary;
  font-weight: 600;
  text-transform: uppercase;
}
button:hover {
  border-color: $color-tertiary;
  color: $color-tertiary;
}

h2,
h3 {
  color: $color-tertiary;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: $font-tertiary;
}

h3 {
  font-weight: 400;
  font-family: $font-primary;
  font-size: 1.1rem;
}

h4 {
  font-family: $font-primary;
  font-weight: 500;
}

img,
span {
  display: block;
}

// classes
.container {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.button_link {
  display: block;
  padding: 0.7rem 3rem;
  margin: 20px 0;
  background-color: transparent;
  width: fit-content;
  color: $color-grey;
  border: 2px solid $color-grey;
  border-radius: 500px;
  cursor: pointer;
  outline: none;
  font: 600 0.8rem $font-secondary;
  text-transform: uppercase;
  &:hover {
    border-color: $color-tertiary;
  }
}
