// fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-tertiary: "Antic Didone", sans-serif;
$font-code: "Fira Code", monospace;

// colors
$color-primary: #ffffff;
$color-secondary: #141414;

:root {
  --color-primary: #fff;
  --color-secondary: #141414;
  --color-tertiary: #8bffb2;
}
$color-tertiary: var(--color-tertiary);
