// fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Railway", sans-serif;
$font-tertiary: "Antic Didone", sans-serif;
$font-code: "Fira Code", monospace;

// colors
$color-primary: #ffffff;
$color-secondary: #141414;
$color-tertiary: #00ffff;
