@import "../../utils/vars.scss";

.sidebar {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background: $color-secondary;
  border: 2px solid $color-tertiary;
  position: absolute;
  top: -2px;
}

.show-seek {
  animation: 0.5s seek ease;
  right: 0;
}

.show-hide {
  animation: 0.5s hide ease;
  right: -400px;
}

.close {
  right: -400px;
}

@keyframes hide {
  0% {
    right: 0px;
  }
  100% {
    right: -400px;
  }
}

@keyframes seek {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}

.sidebar__head {
  color: $color-tertiary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-primary;
  p {
    padding: 20px;
    font-size: 1.3rem;
    font-family: $font-primary;
    flex: 1;
    text-align: center;
  }
  i {
    padding: 20px;
    font-size: 2rem;
    border-left: 2px solid $color-tertiary;
    cursor: pointer;
  }
  i:hover {
    background-color: $color-tertiary;
    color: $color-secondary;
  }
  margin-bottom: 20px;
  border-bottom: 2px solid $color-tertiary;
}

.sidebar__colors {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  flex-wrap: wrap;
  .sidebar__color {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid $color-primary;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border-radius: inherit;
      transition: all 0.5s cubic-bezier(0.59, -0.5, 1, 0.11);
    }
    &:hover {
      background-color: $color-primary;
    }
  }
}
