@import "../../utils/vars.scss";

.footer {
  width: inherit;
  position: absolute;
  bottom: -20px;
  margin: 0 auto;
  .footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &::before,
    &::after {
      content: "";
      width: 100px;
      height: 2px;
      background-color: $color-tertiary;
    }
    &::before {
      margin-right: 40px;
    }
    &::after {
      margin-left: 40px;
    }
    p {
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-lightgrey;
      font-family: $font-primary;
      font-weight: 300;
      a {
        color: $color-primary;
        padding: 0 10px;
        font-weight: 700;
        font-family: $font-primary;
        &:hover {
          color: $color-tertiary;
        }
      }
    }
  }
}
