@import "../../utils/vars.scss";

.footer {
  width: inherit;
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  .footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before,
    &::after {
      content: "";
      width: 100px;
      height: 1px;
      background-color: $color-primary;
    }
    &::before {
      margin-right: 40px;
    }
    &::after {
      margin-left: 40px;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-primary;
      font-family: $font-primary;
      font-weight: 300;
      a {
        padding: 0 10px;
        font-weight: 700;
        font-family: $font-primary;
      }
      &:not(&:first-child) {
        opacity: 0.8;
      }
    }
  }
}
