@import "../../utils/vars.scss";

.menubar {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background: $color-secondary;
  border: 2px solid $color-tertiary;
  position: absolute;
  top: -2px;
}

.show-seek-menu {
  animation: 0.5s seek-menu ease;
  left: 0;
}

.show-hide-menu {
  animation: 0.5s hide-menu ease;
  left: -400px;
}

.close-menu {
  left: -400px;
}

@keyframes hide-menu {
  0% {
    left: 0px;
  }
  100% {
    left: -400px;
  }
}

@keyframes seek-menu {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}

.menubar__head {
  color: $color-tertiary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    padding: 20px;
    font-size: 1.3rem;
    font-family: $font-primary;
    flex: 1;
    text-align: center;
  }
  i {
    padding: 20px;
    font-size: 2rem;
    border-right: 2px solid $color-tertiary;
    cursor: pointer;
  }
  i:hover {
    background-color: $color-tertiary;
    color: $color-secondary;
  }
  border-bottom: 2px solid $color-tertiary;
}

.menubar__options {
  display: flex;
  flex-direction: column;
  .menubar__link {
    a {
      display: block;
      padding: 20px;
      color: $color-primary;
      font: 500 1.3rem $font-primary;
      white-space: nowrap;
      border-bottom: 2px solid $color-grey;
      &:hover {
        background-color: $color-tertiary;
        color: $color-secondary;
      }
    }
  }
}
