@import "../../../utils/vars.scss";

.eachProject {
  width: 100%;
  height: fit-content;
  margin: 50px 0;
  display: flex;
  align-items: center;
  border: 2px solid $color-tertiary;
  &:hover {
    border-color: $color-tertiary;
  }
  .eachProject__image {
    flex: 1;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .eachProject__details {
    padding: 20px;
    border-left: 2px solid $color-tertiary;
    flex: 1;
    .eachProject__head {
      h2 {
        font-size: 2rem;
        span {
          font-size: 1.3rem;
          font-family: $font-primary;
          color: $color-primary;
        }
      }
      & > span {
        margin: 5px 0;
        color: $color-lightgrey;
        font: 500 0.8rem $font-code;
      }
    }
    .eachProject__tags {
      font-family: $font-code;
      span {
        color: $color-lightgrey;
        border: 1px dashed $color-lightgrey;
        display: inline-block;
        padding: 4px 8px;
        font-size: 0.8rem;
        margin-top: 5px;
        &:not(&:last-child) {
          margin-right: 10px;
        }
        &:hover {
          color: $color-tertiary;
          border-color: $color-tertiary;
        }
      }
    }
    .eachProject__description {
      margin: 10px 0;
    }
    .eachProject__links {
      a {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .eachProject {
    flex-direction: column;
    align-items: flex-start;
    .eachProject__details {
      width: 100%;
      border-left: none !important;
      border-top: 2px solid $color-tertiary !important;
    }
  }
}
