* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cascadia Code", sans-serif;
  src: local("Cascadia Code") url("./fonts/CascadiaCode.woff2") format("woff2");
}
