@import "../../utils/vars.scss";

.works__media {
  border: 2px solid $color-tertiary;
  max-width: $mx-1;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  .works__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(2) {
      width: 100%;
      .works__button {
        flex: 1;
        display: flex;
        align-items: center;
        width: 100%;
      }
    }
    &:first-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      h2 {
        flex: 1;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid $color-tertiary;
        padding: 20px 0;
      }
      .works__previewImage {
        overflow: hidden;
        width: 100%;
        position: relative;
        img {
          width: inherit;
          display: block;
        }
      }
    }
  }
}
